<%- include('../partials/header') %>
    <div class="container mt-5">
        <h1 class="text-center mb-4">User Top-Up History</h1>
        <table class="table table-striped table-bordered">
            <thead class="bgColor .thead-dark">
                <tr>
                    <th>Card ID</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Balance</th>
                    <th>All Top-Ups</th> <!-- Updated to show all top-ups -->
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.card_id %>
                        </td>
                        <td>
                            <%= user.student_id %>
                        </td>
                        <td>
                            <%= user.student_name %>
                        </td>
                        <td>₹<%= user.balance %>
                        </td>
                        <td>
                            <% if (user.last_top_ups && user.last_top_ups.length> 0) { %>
                                <ul>
                                    <% user.last_top_ups.forEach(function(topUp) { %>
                                        <li>
                                            <%= new Date(topUp.date).toLocaleString('en-US', { weekday: 'short' ,
                                                year: 'numeric' , month: 'short' , day: 'numeric' , hour: '2-digit' ,
                                                minute: '2-digit' , second: '2-digit' , hour12: false }).replace(',', ''
                                                ) %> - ₹<%= topUp.amount %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% } else { %>
                                    No top-ups
                                    <% } %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <%- include('../partials/footer') %>